/* Print styles */
@media print {
  body * {
    visibility: hidden;
  }
#logo-line {
  text-align: center;
  margin-bottom: 10px;
}

#logo-line img {
  height: 60px;
}
  #pairings, #standings {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  #pairings {
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12pt;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 4px 8px;
    text-align: left;
  }

  #print-pairings {
    display: none;
  }

  #pairings li::after {
    content: " [" attr(data-points) " pts]";
  }

}

